.contact-main {
    background-color: $mauve;
    width: 100%;
    position: relative;
}
.content-container figure {
    margin: 0;
    float: right;
    position: absolute;
    top: -258px;
    right: 6vw;
}

.content-container article {
    float: left;
    padding: 150px 0 9vw;
    width: 24vw;
        p {
            line-height: 1.8rem;
            font-size: 1.8rem;
        }
}

.content-container .fab {
    font-size: 2.5rem;
    padding: 10px 20px 10px 0;
}
.content-container .emailaddress {
    text-transform: uppercase;
    @include fontVals(2rem, 1rem, 1.3px)
}

@media (max-width: $thirdMediaQuery) {
    .content-container figure,
    .content-container article {
        float: none;
    }
    .content-container figure {
        position: static;
        transform: translate(0, -34vw);
    }
    .content-container article {
        padding: 0 0 1vw;
        width: 90vw;
        text-align: center;
        margin-top: -22vw;
    }
    .contact-main form {
        grid-template-columns: repeat(2, 40vw);
    }
}