footer {
    background-color: $brownred;
    color: $white;
    text-align: center;
    @include fontVals(2rem, 3.2rem);
    padding: 5px;
        a {
            color: $white;
            text-decoration: none;
            border-bottom: 1px $white dotted;
        }
}