header {
  background-repeat: no-repeat;
  background-size: cover;
}
header .logo {
    @include fontVals(3.58rem, 3.6rem, 0.11rem);
    width: 100px;
    padding: 40px 0 0 0;
}
.top-bar {
    display: flex;
    justify-content: space-between;
}
.top-bar nav {
    ul {
    background: $mauve;
    list-style: none;
    padding: 0;
    margin-top: 2vw;
        li {
        display: inline-block;
        padding: 2px 1.5vw;
        margin: 0;
        @include fontVals(2rem, 2.9rem, 0.1rem);
        text-transform: uppercase;
        color: $black;
        
            a {
            text-decoration: none;
            color: $black;
            }
        }
    }
}
.top-bar nav ul li:hover {
    background-color: $black;
    color: $white; 
}
.top-bar nav ul li a:hover {
    color: $white; 
}


// INDEX HEADER
header.index {
  background-image: url(../assets/header-image.jpg);
  background-position: center;
  height: 75vh;
  min-height: 620px;
}

header.index h1 {
   @include fontVals(11rem, 6.4rem);
   width: 200px;
   text-shadow: 3px 5px 0px $white, -2px -2px 0px $white;
   font-size: clamp(10rem, 10vw, 11rem);
}

.centering {
    text-align: center;
}

// END INDEX HEADER

// HEADER STYLES SHARED BETWEEN CONTACT AND BLOG
header.blog h1,
header.contact h1 {
   @include fontVals(8rem, 9.2rem);
   text-transform: uppercase;
}

// BLOG HEADER
header.blog {
    background-image: url(../assets/blog-header.jpg);
    background-position: right;
    height: 60vh;
    min-height: 485px;
}
header.blog h1 {
    margin: 10vh 0 0 32vw;
    min-width: 400px;
    font-size: clamp(5rem, 12vw, 8rem)
}

// CONTACT HEADER
header.contact {
    background-image: url(../assets/contact-image.jpg);
    background-position: left;
    height: 36vw;
    min-height: 556px;
}
header.contact h1 {
    margin: 10vh 0 0 24.5vw;
    min-width: 400px;
    font-size: clamp(5rem, 12vw, 8rem)
}

@media (max-width: $thirdMediaQuery) {
    .top-bar nav {
        display: none;
    }
}