.main-links {
    background-color: $mauve;
    padding: 130px 8vw 2vw 7vw;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    row-gap: 3vw;
}

.main-links article {
    display: flex;
}

.main-links .logo {
    padding: 0 30px;
}

.main-links h2 {
    @include fontVals(5.2rem, 100%, 1.6px);
    text-transform: uppercase;
    margin: 0;
    font-size: clamp(3rem, 4vw, 5.2rem);
}

.main-links .fas {
    color: $white;
    background-color: $black;
    padding: 8px;
    border-radius: 50%;
    font-size: 28px;
    width: 50px;
    height: 50px;
}
.main-links .fa-location-arrow {
    padding: 11px 9px;
}
.main-links .fa-users {
    padding: 10px 7px;
}
.main-links .fa-file {
    padding: 10px 14px;
}
.main-links .fa-phone {
    padding: 10px 11px;
}

@media (max-width: $thirdMediaQuery) {
    .main-links {
        grid-template-columns: 1fr;
        padding: 7vw 3vw 2vw 3vw;
    }
    .main-links .logo {
        padding: 20px 20px 20px 0;
    }
}

@media (max-width: $fourthMediaQuery) {
    .main-links article {
        flex-direction: column;
        text-align: center;
    }
    .main-links .logo {
        padding-right: 0;
    }
}