.popular {
    display: flex;
    padding: 6vw 8vw 5vw;
}

.popular figure {
    margin: 0 5vw 0 40px;
    height: 100%;
}

.popular article {
    padding: 0 50px;
}
.popular img {
    display: block;
    width: 19vw;
}

.popular h2 {
    @include fontVals(5.2rem, 100%, 1.2px);
    text-transform: uppercase;
    font-size: clamp(4rem, 4vw, 5.2rem);
}