.popular {
    display: flex;
    padding: 6vw 8vw 5vw;
}

.popular figure {
    margin: 0 5vw 0 40px;
    height: 100%;
}

.popular article {
    padding: 0 3.5vw;
}
.popular img {
    display: block;
    width: 19vw;
    min-width: 200px;
}

.popular h2 {
    @include fontVals(5.2rem, 100%, 1.2px);
    text-transform: uppercase;
    font-size: clamp(4rem, 4vw, 5.2rem);
    margin-bottom: 0;
}

.popular .button {
    background-color: $brownred;
}

@media (max-width: $thirdMediaQuery) {
    .popular {
        flex-direction: column;
        text-align: center;
    }
    .popular figure {
        width: 71%;
        margin: 0 auto 2vw;
    }
    .popular img {
        width: 100%;
    }
}