.products h2 {
    @include fontVals(4.2rem, 100%, 1.3px);
    text-transform: uppercase;
}

.top-box,
.bottom-box {
    position: relative;
    min-height: 375px;
}

.top-box .image-container {
    float: left;
}
.top-box .right-article {
    padding: 2vw 7vw 4vw 9vw;
    float: right;
    width: 50%;
    // border: 1px solid #000;
        h2 {
            margin-bottom: 0;
        }
}

.bottom-box .left-article {
    padding: 6vw 7vw 2.5vw 7vw;
    text-align: right;
    float: left;
    width: 50%;
    // border: 1px solid blue;
        h2 {
            margin: 0;
        }
}
.bottom-box figure {
    height: 100%;
}


// image styling START
.image-container {
    width: 100%;
    // border: 1px solid #000;
    position: relative;
}
.products .shadow--right {
    height: 26.25vw;
    width: 42vw;
    position: absolute;
    left: 0;
    top: -35px;
    margin: 0;
    padding: 0;
    max-height: 450px;
        img {
            width: 100%;
            max-height: 450px;
        }
    // border: 2px solid red;
}

.products .shadow--left {
    height: 26.25vw;
    width: 42vw;
    position: absolute;
    right: 0;
    bottom: -35px;
    margin: 0;
    padding: 0;
    max-height: 450px;
        img {
                width: 100%;
                max-height: 450px;
            }
    // border: 2px solid red;
}
// image styling END


@media (max-width: $firstMediaQuery) {
    .top-box .right-article {
        padding-bottom: 0;
    }
    .bottom-box .left-article {
        padding-top: 0;
    }
}

@media (max-width: $thirdMediaQuery) {
    .top-box .image-container {
        float: none;
    }
    .products .shadow--right,
    .products .shadow--left {
        height: 44.25vw;
        width: 71vw;
        position: static;
        margin: 0 auto;
    }
    .top-box,
    .bottom-box {
        position: static;
    }
    .bottom-box .left-article,
    .top-box .right-article {
        float: none;
        margin: 0 auto;
        width: 67%;
        padding: 2vw 0;
        text-align: center;
    }
    .bottom-box .left-article {
        padding: 7vw 0 2vw;
    }
}