.products {
    // display: grid;
    // grid-template-columns: repeat(1, 1fr);
    // grid-template-rows: repeat(2, 400px);
    // gap: 1vw 15vw;
}

.top-box,
.bottom-box {
    position: relative;
    min-height: 375px;
}

.top-box {
    // border: 3px solid green;
}
.bottom-box {
    // border: 3px solid blue;
}

.top-box .image-container {
    float: left;
}
.top-box .right-article {
    padding: 2vw 7vw 4vw 9vw;
    float: right;
    width: 50%;
        h2 {
            margin-bottom: 0;
        }
}

.bottom-box .left-article {
    padding: 6vw 7vw 2.5vw 7vw;
    text-align: right;
    float: left;
    width: 50%;
        h2 {
            margin: 0;
        }
}
.bottom-box figure {
    height: 100%;
}

.products h2 {
    @include fontVals(4.2rem, 100%, 1.3px);
    text-transform: uppercase;
}



.image-container {
    width: 100%;
    // border: 1px solid #000;
    position: relative;
}
.products .shadow--right {
    background-image: url(../assets/left-image.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    height: 26.25vw;
    width: 42vw;
    position: absolute;
    left: 0;
    top: -35px;
    margin: 0;
    padding: 0;
    // border: 2px solid red;
}

.products .shadow--left {
    background-image: url(../assets/right-image.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    height: 26.25vw;
    width: 42vw;
    position: absolute;
    right: 0;
    bottom: -35px;
    margin: 0;
    padding: 0;
    // border: 2px solid red;
}

@media (max-width: $secondMediaQuery) {
    .products {
        grid-template-columns: repeat(2, 1fr);
    }
}
