.showcase {
    background-color: $mauve;
    padding: 5vw 10vw 6vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.showcase img {
    max-width: 100%;
    min-width: 300px;
    width: 30%;
        margin: 1.2vw;
}
