
header.blog {
    margin: 0;
    padding: 0;
}
.blog-main {
    margin: 0;
    padding: 0;
}
.main-blog-section {
    margin: 0;
    padding: 0;
}
body {
    padding: 0;
    margin: 0;
}

.blog-header-image {
    padding: 0;
    margin: 0;
}