html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

figure {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, .logo {
  font-family: 'Pompiere', cursive;
}

p, nav, footer, .button, li, form {
  font-family: 'Lato', sans-serif;
}

p, li, form {
  font-size: 1.7rem;
  line-height: 3.2rem;
  letter-spacing: 1px;
}

.button {
  background-color: #4C0341;
  display: inline-block;
  color: #FFFFFF;
  padding: 10px 20px;
  font-size: 2rem;
  line-height: 3.2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.narrow-wrapper {
  max-width: 960px;
  width: 90%;
  margin: 0 auto;
}

.shadow--right {
  -webkit-box-shadow: 2.5vw 2.5vw #FE6F19;
          box-shadow: 2.5vw 2.5vw #FE6F19;
}

.shadow--left {
  -webkit-box-shadow: -2.5vw 2.5vw #FE6F19;
          box-shadow: -2.5vw 2.5vw #FE6F19;
}

.comments {
  background-color: #fae5ff;
}

header {
  background-repeat: no-repeat;
  background-size: cover;
}

header .logo {
  font-size: 3.58rem;
  line-height: 3.6rem;
  letter-spacing: 0.11rem;
  width: 100px;
  padding: 40px 0 0 0;
}

.top-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-bar nav ul {
  list-style: none;
}

.top-bar nav ul li {
  display: inline-block;
  padding: 2px 0.7vw;
  margin: 9px;
  font-size: 2rem;
  line-height: 2.9rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: #0D0D0D;
}

.top-bar nav ul li a {
  text-decoration: none;
  color: #0D0D0D;
}

.top-bar nav ul li:hover {
  background-color: #0D0D0D;
  color: #FFFFFF;
}

.top-bar nav ul li a:hover {
  color: #FFFFFF;
}

header.index {
  background-image: url(../assets/header-image.jpg);
  background-position: center;
  height: 75vh;
  min-height: 620px;
}

header.index .top-bar nav ul li:first-child {
  background-color: #0D0D0D;
  color: #FFFFFF;
}

header.index h1 {
  font-size: 11rem;
  line-height: 6.4rem;
  letter-spacing: 0;
  width: 200px;
}

.centering {
  text-align: center;
}

@media (max-width: 1235px) {
  header.index h1 {
    color: #FFFFFF;
  }
}

header.blog h1,
header.contact h1 {
  font-size: 8rem;
  line-height: 9.2rem;
  letter-spacing: 0;
  text-transform: uppercase;
}

header.blog {
  background-image: url(../assets/blog-header.jpg);
  background-position: right;
  height: 60vh;
  min-height: 485px;
}

header.blog h1 {
  margin: 10vh 0 0 32vw;
  min-width: 400px;
  font-size: clamp(5rem, 12vw, 8rem);
}

header.contact {
  background-image: url(../assets/contact-image.jpg);
  background-position: left;
  height: 36vw;
  min-height: 556px;
}

header.contact h1 {
  margin: 10vh 0 0 24.5vw;
  min-width: 400px;
  font-size: clamp(5rem, 12vw, 8rem);
}

@media (max-width: 770px) {
  .top-bar nav {
    display: none;
  }
}

footer {
  background-color: #882C07;
  color: #FFFFFF;
  text-align: center;
  font-size: 2rem;
  line-height: 3.2rem;
  letter-spacing: 0;
  padding: 5px;
}

footer a {
  color: #FFFFFF;
  text-decoration: none;
  border-bottom: 1px #FFFFFF dotted;
}

form {
  background-color: #FFFFFF;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 2fr 6fr 1fr;
      grid-template-rows: 2fr 6fr 1fr;
  -ms-grid-columns: (23.5vw)[2];
      grid-template-columns: repeat(2, 23.5vw);
  gap: 3vw 4vw;
  padding: 0 3vw 3vw 1vw;
  height: 425px;
}

form .name,
form .email {
  border: none;
  border-bottom: 2px solid #FE6F19;
  padding: 17px 25px;
}

form .comment,
form .message {
  border: 2px solid #FE6F19;
  padding: 24px 25px;
}

textarea {
  grid-column: span 2;
  resize: none;
}

button {
  grid-column: span 2;
  padding: 15px 0 10px;
  text-transform: uppercase;
  border: none;
}

.content-container form {
  background-color: #FFFFFF;
}

.content-container button {
  background-color: #882C07;
  color: #FFFFFF;
}

.comments form {
  background-color: #fae5ff;
  color: #4C0341;
}

.comments form .name,
.comments form .email,
.comments form .comment {
  background-color: #fae5ff;
}

.comments button {
  background-color: #4C0341;
  color: #fae5ff;
}

.contact-main form {
  height: 577px;
  -ms-grid-columns: (25vw)[2];
      grid-template-columns: repeat(2, 25vw);
  padding: 4vw 4vw 3.5vw 4vw;
  gap: 3vw 1.5vw;
}

/*
 * adapted from Erik Terwan
 */
.mobile-menu {
  margin: 0;
  padding: 0;
  visibility: hidden;
}

#menuToggle {
  display: block;
  position: absolute;
  top: 50px;
  right: 50px;
  z-index: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;
  background: #fae5ff;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: #FE6F19;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #0D0D0D;
  border-radius: 3px;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  position: absolute;
  left: -166px;
  width: 300px;
  margin: -121px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #fae5ff;
  list-style-type: none;
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
  text-align: right;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul {
  -webkit-transform: none;
          transform: none;
}

@media (max-width: 770px) {
  .mobile-menu {
    visibility: visible;
  }
}

.index-about {
  background-color: #fae5ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 12vw;
}

.splash-container {
  height: 14vw;
  max-height: 180px;
  position: relative;
}

.index-about figure {
  position: absolute;
  margin: 0;
  bottom: -8vw;
  right: 0;
  width: 50vw;
  max-width: 710px;
}

.index-about figure img {
  width: 100%;
}

.index-about h2 {
  font-size: 5.2rem;
  line-height: 100%;
  letter-spacing: 1.2px;
  text-align: center;
  text-transform: uppercase;
  margin-top: calc(40px + 3vw);
}

.index-about p {
  text-align: center;
}

.index-about .button {
  margin: 0 auto;
}

.products h2 {
  font-size: 4.2rem;
  line-height: 100%;
  letter-spacing: 1.3px;
  text-transform: uppercase;
}

.top-box,
.bottom-box {
  position: relative;
  min-height: 375px;
}

.top-box .image-container {
  float: left;
}

.top-box .right-article {
  padding: 2vw 7vw 4vw 9vw;
  float: right;
  width: 50%;
}

.top-box .right-article h2 {
  margin-bottom: 0;
}

.bottom-box .left-article {
  padding: 6vw 7vw 2.5vw 7vw;
  text-align: right;
  float: left;
  width: 50%;
}

.bottom-box .left-article h2 {
  margin: 0;
}

.bottom-box figure {
  height: 100%;
}

.image-container {
  width: 100%;
  position: relative;
}

.products .shadow--right {
  height: 26.25vw;
  width: 42vw;
  position: absolute;
  left: 0;
  top: -35px;
  margin: 0;
  padding: 0;
  max-height: 450px;
}

.products .shadow--right img {
  width: 100%;
  max-height: 450px;
}

.products .shadow--left {
  height: 26.25vw;
  width: 42vw;
  position: absolute;
  right: 0;
  bottom: -35px;
  margin: 0;
  padding: 0;
  max-height: 450px;
}

.products .shadow--left img {
  width: 100%;
  max-height: 450px;
}

@media (max-width: 1235px) {
  .top-box .right-article {
    padding-bottom: 0;
  }
  .bottom-box .left-article {
    padding-top: 0;
  }
}

@media (max-width: 770px) {
  .top-box .image-container {
    float: none;
  }
  .products .shadow--right,
  .products .shadow--left {
    height: 44.25vw;
    width: 71vw;
    position: static;
    margin: 0 auto;
  }
  .top-box,
  .bottom-box {
    position: static;
  }
  .bottom-box .left-article,
  .top-box .right-article {
    float: none;
    margin: 0 auto;
    width: 67%;
    padding: 2vw 0;
    text-align: center;
  }
  .bottom-box .left-article {
    padding: 7vw 0 2vw;
  }
}

.main-links {
  background-color: #fae5ff;
  padding: 130px 8vw 2vw 7vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  row-gap: 3vw;
}

.main-links article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-links .logo {
  padding: 0 30px;
}

.main-links h2 {
  font-size: 5.2rem;
  line-height: 100%;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  margin: 0;
  font-size: clamp(3rem, 4vw, 5.2rem);
}

.main-links .fas {
  color: #FFFFFF;
  background-color: #0D0D0D;
  padding: 8px;
  border-radius: 50%;
  font-size: 28px;
  width: 50px;
  height: 50px;
}

.main-links .fa-location-arrow {
  padding: 11px 9px;
}

.main-links .fa-users {
  padding: 10px 7px;
}

.main-links .fa-file {
  padding: 10px 14px;
}

.main-links .fa-phone {
  padding: 10px 11px;
}

@media (max-width: 770px) {
  .main-links {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding: 7vw 3vw 2vw 3vw;
  }
  .main-links .logo {
    padding: 20px 20px 20px 0;
  }
}

@media (max-width: 400px) {
  .main-links article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .main-links .logo {
    padding-right: 0;
  }
}

.brogues {
  background-image: url(../assets/banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 32vw;
  max-height: 449px;
}

.popular {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 6vw 8vw 5vw;
}

.popular figure {
  margin: 0 5vw 0 40px;
  height: 100%;
}

.popular article {
  padding: 0 3.5vw;
}

.popular img {
  display: block;
  width: 19vw;
  min-width: 200px;
}

.popular h2 {
  font-size: 5.2rem;
  line-height: 100%;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  font-size: clamp(4rem, 4vw, 5.2rem);
  margin-bottom: 0;
}

.popular .button {
  background-color: #882C07;
}

@media (max-width: 770px) {
  .popular {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .popular figure {
    width: 71%;
    margin: 0 auto 2vw;
  }
  .popular img {
    width: 100%;
  }
}

.showcase {
  background-color: #fae5ff;
  height: 36vw;
  padding: 5vw 10vw 6vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 37px;
          column-gap: 37px;
}

.showcase img {
  width: 100%;
}

@media (max-width: 770px) {
  .showcase {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contact-main {
  background-color: #fae5ff;
  width: 100%;
  position: relative;
}

.content-container figure {
  margin: 0;
  float: right;
  position: absolute;
  top: -258px;
  right: 6vw;
}

.content-container article {
  float: left;
  padding: 150px 0 9vw;
  width: 24vw;
}

.content-container article p {
  line-height: 1.8rem;
  font-size: 1.8rem;
}

.content-container .fab {
  font-size: 2.5rem;
  padding: 10px 20px 10px 0;
}

.content-container .emailaddress {
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 1rem;
  letter-spacing: 1.3px;
}

.blog-main {
  background-color: #fae5ff;
  width: 100%;
  position: relative;
}

.blog-main h2 {
  font-size: 5.2rem;
  line-height: 100%;
  letter-spacing: 1.2px;
}

.datestamp-and-user {
  font-size: 2rem;
  line-height: 2.9rem;
  letter-spacing: 1px;
  font-weight: bold;
  margin-top: 0;
}

.other-posts h2 {
  font-size: 3rem;
  line-height: 100%;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  margin: 20px 0 0 0;
}

.blog-main {
  height: 100%;
}

.main-blog-post {
  margin: 0;
  float: right;
  width: 62vw;
  background-color: #FFFFFF;
}

.main-blog-post-wrapper {
  max-width: 700px;
  padding: 50px 50px 20px 50px;
}

.main-blog-post figure {
  position: absolute;
  bottom: 0;
  width: 60vw;
  max-width: 860px;
  margin: 0;
  padding: 0;
  -webkit-transform: translate(-15px, -80px);
          transform: translate(-15px, -80px);
}

.main-blog-post figure img {
  width: 100%;
  display: block;
}

.main-blog-post .figure-container {
  margin: 28vw 0 0 0;
  position: relative;
}

.comments {
  padding: 34px 7px;
}

.comments h2 {
  margin: 10px;
  text-transform: uppercase;
}

.comment-container {
  display: -ms-grid;
  display: grid;
  margin: 20px 36px 60px;
  -ms-grid-columns: 92px auto;
      grid-template-columns: 92px auto;
}

.comment-container img {
  width: 100%;
  padding: 5px;
}

.comment-header-and-text {
  padding: 0 28px;
}

.comment-header-and-text p {
  margin: 0 0 6px 0;
}

.other-posts {
  float: left;
  margin: 122px 3.42vw 122px 9vw;
  padding: 10px 4.1vw 0 22px;
  max-width: 350px;
  width: 24vw;
  background-color: #FFFFFF;
}

.post-image {
  -webkit-transform: translate(-152px, -28px);
          transform: translate(-152px, -28px);
  max-width: 457px;
  width: 32vw;
}

.post-image img {
  width: 100%;
  display: block;
}

.recent-posts ul {
  padding: 0 19px 19px 19px;
}

.recent-posts h2 {
  margin-top: 50px;
}
